<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="root"></div>

    <script>
      // 任务: 利用 DOM 生成一个 b 元素, 带有两个属性:
      // 属性1: id='4'   属性2: class="danger"
      // 内容为: Hello World
      // 把此元素,添加到 id='root' 的标签中, 作为子元素展示
      let b = document.createElement("b");
      b.id = 4;
      b.className = "danger";
      b.innerHTML = "Hello World";

      let root = document.getElementById("root");
      root.appendChild(b);
    </script>
  </body>
</html>

<!-- 
原生的DOM操作, 由于代码比较繁琐, 所以使用较少
各大第三方都用了各种方案来简化DOM操作
1. jQuery: 利用了链式语法, 封装了查找功能代码, 
  - $(选择器).操作DOM的方法().方法().方法()....
2. angular + vue:  在html中 利用语法糖书写JS代码
  - {{}} v-html v-if v-for...
3. react: 利用封装来简化DOM操作
 -->
